ServiceShim/Service References/WCFBikeServiceReference/BikeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMountainBike">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MountainBike" nillable="true" type="tns:MountainBike" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMountainBike" nillable="true" type="tns:ArrayOfMountainBike" />
  <xs:complexType name="MountainBike">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrakeSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Forks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityInStock" type="xs:int" />
      <xs:element minOccurs="0" name="RearShock" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MountainBike" nillable="true" type="tns:MountainBike" />
  <xs:complexType name="BusinessDataEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bike" nillable="true" type="tns:MountainBike" />
      <xs:element minOccurs="0" name="Bikes" nillable="true" type="tns:ArrayOfMountainBike" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ManufacturerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessDataEntity" nillable="true" type="tns:BusinessDataEntity" />
</xs:schema>