Template/ServiceShim/Service References/WCFBikeServiceReference/BikeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://geoff-laptop:8080/TemplateWcfBikeService/BikeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" />
  <xs:element name="GetMountainBikes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMountainBikesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="GetMountainBikesResult" nillable="true" type="q1:ArrayOfMountainBike" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMountainBike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMountainBikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="GetMountainBikeResult" nillable="true" type="q2:MountainBike" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMountainBike">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="bike" nillable="true" type="q3:MountainBike" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMountainBikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="AddMountainBikeResult" nillable="true" type="q4:MountainBike" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMountainBike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMountainBikeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMountainBikesComplex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMountainBikesComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="GetMountainBikesComplexResult" nillable="true" type="q5:BusinessDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMountainBikeComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="bde" nillable="true" type="q6:BusinessDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMountainBikeComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="GetMountainBikeComplexResult" nillable="true" type="q7:BusinessDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMountainBikeComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="bde" nillable="true" type="q8:BusinessDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMountainBikeComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="AddMountainBikeComplexResult" nillable="true" type="q9:BusinessDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMountainBikeComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebberCross.BdcModelBuilder.WcfBikeService" minOccurs="0" name="bde" nillable="true" type="q10:BusinessDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMountainBikeComplexResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>